<div *ngFor="let task of taskList" class="task-details">
    <h2>Task Details</h2>
    <p><strong>Project Task ID:</strong> {{ task.taskId }}</p>
    <p><strong>Title:</strong> {{ task.title }}</p>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Status:</strong> {{ task.status }}</p>
    <p><strong>Start Date:</strong> {{ task.startDate | date:'longDate' }}</p>
    <p><strong>Due Date:</strong> {{ task.dueDate | date:'longDate' }}</p>
    <!-- <button (click)="deleteTask(task.projectTaskId)">Delete</button>
    <button (click)="editTask(task)">Edit</button> -->
</div>