<div *ngFor="let project of projectList" class="project-card">
    <h1>Project:{{project.projectId}}</h1>
    <h3 class="project-title">{{ project.projectName }}</h3>
    <p class="project-description"><strong>Description:</strong> {{ project.description }}</p>
    <p class="project-status"><strong>Status:</strong> {{ project.status }}</p>
    <p *ngIf="project.startDate" class="project-dates"><strong>Start Date:</strong> {{ project.startDate | date }}</p>
    <p *ngIf="project.dueDate" class="project-dates"><strong>Due Date:</strong> {{ project.dueDate | date }}</p>
    <button (click)="editProject(project)">Edit</button>
    <button (click)="deleteProject(project.projectId)">Delete</button> 
    <button (click)="addTask()">Add Task</button>
    <!-- <button (click)="loadAddTask()">Add Task</button> 
    <button (click)="showTasks(project.projectId)">Show Task</button> -->
    <hr>
</div>

<!-- <div *ngIf="">
    <app-project-task-display></app-project-task-display>
</div> -->

<!-- Contianer to edit the Project -->
<div *ngIf="editModeEnable">
    <app-project-form [Project]="project" (CloseProjectEditEvent)="closeEditForm()"></app-project-form>
</div>


<!-- Container to add Task -->
 <div *ngIf="addTaskEnable">
    <app-project-task-form></app-project-task-form>
 </div>