<div class="about-container">
    <section class="about-intro">
        <h1>About Us</h1>
        <p>Welcome to our Project Management Tool! We are dedicated to helping teams collaborate and manage their
            projects efficiently.</p>
    </section>

    <section class="about-team">
        <h2>Our Team</h2>
        <div class="team-member">
            <img src="assets/team-member1.jpg" alt="Team Member 1">
            <h3>Dnyanadev Gajarkar</h3>
            <p>CEO & Founder</p>
        </div>
        <div class="team-member">
            <img src="assets/team-member2.jpg" alt="Team Member 2">
            <h3>Kartikeya Yadav</h3>
            <p>Chief Technology Officer</p>
        </div>
    </section>

    <section class="about-contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or feedback, feel free to reach out to us at <a href="mailto:projectmanagementtool101@gmail.com">projectmanagementtool&#64;gmail.com</a></p>
    </section>
</div>