header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar button {
    background-color: #333;
    color: white;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 17px;
}

.navbar button:hover {
    background-color: #ddd;
    color: black;
}